@import "tailwindcss";

@theme {
    --animate-bounce-slow: bounce 3s infinite;
    --animate-bounce-slower: bounce 4s infinite;
    --animate-pulse-slow: pulse 4s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}

@layer base {
    body {
        @apply antialiased text-slate-50 bg-[#0F172A];
        font-family: 'Inter', system-ui, sans-serif;
    }
}